* {
    font-family: 'National 2', 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans', 'Hiragino Kaku Gothic Pro', '游ゴシック', '游ゴシック体', YuGothic, 'Yu Gothic', 'ＭＳ ゴシック', 'MS Gothic', sans-serif; 
}

#Footer{
    width: 80%;
    margin: auto;
}
#Footer>p{
    width: 60%;
    text-align: center;
    margin: auto;
    font-size: x-small;
   color: gray;
    line-height: 20px;
}
.disFlex{
    display: flex;
    justify-content: space-between;
}
#footerLeft{
    width: 30%;
    font-size: x-small;
   
    line-height: 15px;
}

#footerLeft>select{
   background-color: black;
   color: white;
   font-size: x-small;
   padding: 5px 10px;
   border: 0px;
   border-radius: 2px;
   margin-bottom: 5px;
}

#footerRight{
    width: 30%;
    padding: 20px;
    display: flex;
   
}
#footerRight>img{
    width: 40%;
    height: 40%;
}
#footerline{
    margin-top: 30px;
    margin-bottom: 30px;
}
#footerTable{
    text-align: left;
    margin-top: 20px;
    
}
#footerTable tr {
    font-size: x-small;
    color: grey;
   
}

#Nav{
    background-color: #5cb45b;
    font-size: small;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
  
    z-index: 999;
    
}
#navdiv2{
    margin: 0px;
    padding: 0px;
    font-family: 'National 2', 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans', 'Hiragino Kaku Gothic Pro', '游ゴシック', '游ゴシック体', YuGothic, 'Yu Gothic', 'ＭＳ ゴシック', 'MS Gothic', sans-serif;
    display:flex ;
    flex-direction: row;
    justify-content: flex-end;
}
#navdiv1{
    margin: 0px;
    padding: 0px;
    font-family: 'National 2', 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans', 'Hiragino Kaku Gothic Pro', '游ゴシック', '游ゴシック体', YuGothic, 'Yu Gothic', 'ＭＳ ゴシック', 'MS Gothic', sans-serif;
    display:flex ;
    flex-direction: row;

}


#Nav div a{
 text-decoration: none;
 color: rgb(0, 0, 0);
 margin-top: 20px;
}
#Nav>div>div{
   padding: 4px , 8px;
   margin-left: 10px;
   margin-top: 10px;
   margin-right: 10px;
   font-weight: bold;
   color: black;
   font-size: small;
   font-family: 'National 2', 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans', 'Hiragino Kaku Gothic Pro', '游ゴシック', '游ゴシック体', YuGothic, 'Yu Gothic', 'ＭＳ ゴシック', 'MS Gothic', sans-serif;
}
#Nav>div{
  width: 50%;
  margin: 10px;
}

#Nav button{
   
   background-color: rgb(255, 191, 0);
   color: rgb(31, 31, 31);
   font-size: x-small;
   padding: 8px 16px;
   border: 0px;
   border-radius: 2px;
   margin-bottom: 5px;
   font-weight: bold;
   margin-top: 5px;

 
}
#logo{
  width: 15%;

}

#Mid>h3{
    font-family: 'National 2', 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans', 'Hiragino Kaku Gothic Pro', '游ゴシック', '游ゴシック体', YuGothic, 'Yu Gothic', 'ＭＳ ゴシック', 'MS Gothic', sans-serif;
    text-align: center;
    margin-top: 60px;
    opacity: 90%;
    margin-bottom: 40px;
}
#Mid>p{
    font-family: 'National 2', 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans', 'Hiragino Kaku Gothic Pro', '游ゴシック', '游ゴシック体', YuGothic, 'Yu Gothic', 'ＭＳ ゴシック', 'MS Gothic', sans-serif;
    text-align: center;
    opacity: 80%;
}
h2 {
    text-align: center;
 font-family: 'National 2', 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans', 'Hiragino Kaku Gothic Pro', '游ゴシック', '游ゴシック体', YuGothic, 'Yu Gothic', 'ＭＳ ゴシック', 'MS Gothic', sans-serif;
}
h3{
   
    text-align: center;
 font-family: 'National 2', 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans', 'Hiragino Kaku Gothic Pro', '游ゴシック', '游ゴシック体', YuGothic, 'Yu Gothic', 'ＭＳ ゴシック', 'MS Gothic', sans-serif;

}

#Mid>h4 ,#Bottom>div>div{
 text-align: center;
 font-family: 'National 2', 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans', 'Hiragino Kaku Gothic Pro', '游ゴシック', '游ゴシック体', YuGothic, 'Yu Gothic', 'ＭＳ ゴシック', 'MS Gothic', sans-serif;
}
#Mid>h4+div{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 70px;
}
#Mid>h4+div>img{
    width: 17%;
    margin-top: 20px;
}

#learn{
    height: 100%;
    position: relative;
    text-align: center;
}
#learn h4{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: small;
    color: white;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#learn p{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: x-small;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 40%;
   opacity: 90%;
   line-height: 20px;
}
#learn>button{
    background-color: white;
   color: rgb(0, 0, 0);
   font-size: x-small;
   padding: 5px 10px;
   border: 0px;
   border-radius: 2px;
   position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -40%);
  
}
#Bottom{
    margin-top: 50px;
    margin-bottom:90px ;
}

#Bottom>div{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 50px;
    background-color: #f7f7f7;

}
#Bottom>div>div>img{
    width: 30%;
    margin: auto;
    text-align: center;

}
#Bottom>div>div>p{
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: small;
    line-height: 20px;
    margin-bottom: 35px;
}
#Bottom>div>div>button{
 
    background-color: white;
    border-radius: 2px;
    border: 1px solid black;
    font-family: 'National 2', 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans', 'Hiragino Kaku Gothic Pro', '游ゴシック', '游ゴシック体', YuGothic, 'Yu Gothic', 'ＭＳ ゴシック', 'MS Gothic', sans-serif;
    font-size: x-small;
    padding: 10px ,20px;
}


#basic ,#individualPlan ,#Teamplan{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    
}

#planCards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    width: 80%;
    margin: auto;
    line-height: 20px;
    margin-bottom: 80px;
    margin-top: 35px;
}
#planCards>div{
background-color: rgb(247, 247, 247);
}
#blue{
    background-color: rgb(75, 75, 232);
    width: 100%;
    height: 45px;
    font-weight: bolder;
    color: white;
    border-radius: 10px;
    padding-top: 20px;

   
  }
  #voilet{
    background-color: rgb(72, 29, 111);
    width: 100%;
    height: 45px;
    font-weight: bolder;
    color: white;
    border-radius: 0px 50px 0px 50px ;
    padding-top: 20px;
  }

  #green{
    background-color: rgb(32, 168, 59);
    width: 100%;
    height: 45px;
    font-weight: bolder;
    color: white;
    border-radius: 50px 0px 50px  0px;
    padding-top: 20px;
  }
#free{
    color: rgb(32, 168, 59);
    margin-bottom: 20px;
}
  #blue-button{

    background-color: rgb(75, 75, 232);
   color: rgb(255, 252, 252);
   font-size: x-small;
   padding: 8px 16px;
   border: 0px;
   border-radius: 5px;
   margin-bottom: 5px;
   font-weight: bold;
   margin-bottom: 25px;
  }
  #green-button{
    margin-bottom: 25px;
    background-color: rgb(32, 168, 59);
   color: rgb(255, 252, 252);
   font-size: x-small;
   padding: 8px 16px;
   border: 0px;
   border-radius: 5px;
   margin-bottom: 25px;
   font-weight: bold;
  }
  #voilet-button{
    background-color: rgb(72, 29, 111);
   color: rgb(255, 252, 252);
   font-size: x-small;
   padding: 8px 16px;
   border: 0px;
   border-radius: 5px;
   margin-bottom: 5px;
   font-weight: bold;
   margin-bottom: 25px;
  }
  
  .pclass{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
  
    
  }


  #topdiv{
    text-align: center;
    width: 100%;
   margin-top: 110px;
   margin-bottom: 110px;

  }


  #get-started{
    
    background-color: rgb(32, 168, 59);
   color: rgb(255, 252, 252);
   font-size:small;
   padding: 15px 30px;
   border: 0px;
   border-radius: 5px;
   margin-bottom: 25px;
   font-weight: bold;
  }
  .hove:hover{
    color: white;
  }

  .ho:nth-child(1):hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  #signup{

  }